h1{
color: Green;
background-image: url('img3/berries.jpg');
background-size: cover;

}

body{
background-color: black;
background-image: url('img3/secret.jpg');
background-size: contain;
background-repeat: no-repeat;
background-position: center;

}

p{
  color: white;
  font-size: 25px;
  background-image: url('img3/road.jpg');
  background-position: right;
  background-size: 500px;
  background-repeat: space;

}

.index-half p{
  background-image: url('img3/sleet.jpg');
  background-size: 700px;
  background-position: right;
  background-repeat:no-repeat;
  color: white;

}
